* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #006E7F;
    color: #fff;
}

.container {
    width: 50%;
    padding: 0 10px;
}

.title {
    text-align: center;
    margin: 20px;

}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height: 100px;
    width: 100%;
    background-color: #ece2bd;
    margin-bottom: 25px;
}

#newColorHex {
    text-align: center;
    padding-top: 10px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text {
    font-size: 20px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 250ms;
}

.unselected {
    opacity: 0.2;
}

